.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
}

.gradientText0 {
  background: -webkit-linear-gradient(#bfa3da, #84309c, #c735b0);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText1 {
  background: -webkit-linear-gradient(#a79af9, #7aa8d2);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText2 {
  background: -webkit-linear-gradient(#bfa3da, #743f93);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradientText3 {
  background: -webkit-linear-gradient(#c35ab1, #e9a8d9);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
  text-decoration-color: #84309c;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: left;
}

.connect {
  margin-bottom: 2rem;
}

.description {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #555;
  border-radius: 5px;
  padding: 0.5em;
  font-size: 1.1rem;
}

.grid {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 10px;
}

.card {
  background-color: #131313;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 440px;
  overflow: none;
  border: none;
}

.cardText {
  padding: 1rem;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
  margin-bottom: 12px;
  border: none;
}

.card:hover,
.card:focus,
.card:active {
  background-color: #272c34;
  opacity: 80%;
}

.card h2 {
  margin: 0 0 0.75rem 0;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 768px) {
  .header {
    margin-left: 0;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    font-size: 3rem;
    line-height: 1.15;
  }
}

.card,
.footer {
  border-color: #222;
}

.logo img {
  filter: invert(1);
}

.navLink {
  color: rgb(13, 0, 255);
  font-size: 1.5rem;
  text-decoration: none;
}

.setupUserLink {
  font-size: 2rem;
  margin-top: 0px;
  text-align: center;
}

.linkContainer {
  display: flex;
  justify-content: center;
  /* Center the links horizontally */
  align-items: center;
  /* Center the links vertically */
  gap: 20px;
  /* Adjust the gap as needed for spacing between links */
}

.setupUserLink,
.uploadNFTLink {
  text-decoration: none;
  color: blue;
  /* Example styling, adjust as needed */
  font-size: 22px;
  /* Ensure both links have the same font size */
  padding: 10px;
  /* Add padding to make sure links have a similar size */
  border-radius: 5px;
  /* Optional: Adds rounded corners to the links */
}



.nftContainer {
  position: relative;
  background-color: #0f6190;
  padding: 0rem;
  border-radius: 10px;
  cursor: pointer;
  min-width: 200px;
  text-align: center;
  position: relative;
  margin-bottom: 10px;
  /* Ensure some space between items */
}

.nftImage:hover,
.nftImage:active {
  transform: scale(0.95);
  /* Scale down to 95% of its original size */
  box-shadow: 10px 5px 5px rgba(141, 9, 11, 0.5);
  /* Add shadow to simulate depth */
}

.nftImage.pressing {
  transform: scale(0.75);
  box-shadow: 20px 5px 5px rgba(181, 210, 14, 0.5);
}



/* Home.module.css */
.nftImage {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  /* Smooth transition for transform and box-shadow */
  display: block;
  width: 100%;
  /* Make the image responsive */
  max-width: 250px;
  /* Set a max-width to control the size */
  max-height: 250px;
  /* Set a max-height to control the size */
  object-fit: cover;
  /* Ensure the aspect ratio is maintained */
  margin-bottom: 2px;
  margin-top: 2px;
}

.nftDescription {
  position: absolute;
  bottom: 0;
  /* Adjust this value to control distance from the bottom of the image */
  left: 20%;
  transform: translateX(-50%);
  background-color: rgba(7, 2, 55, 0.75);
  color: white;
  padding: 8px;
  border-radius: 4px;
  display: none;
  /* Initially hidden */
  z-index: 2;
  /* Ensure it's above other content */
  width: calc(200% - 20px);
  /* Adjust width as needed, accounting for padding */
  box-sizing: content-box;
}

.nftContainer:hover .nftDescription {
  display: block;
  /* Show on hover */
}

/* Home.module.css */
.selectedNftImage {
  border: 25px solid #058c4b;
  /* Example: Green border to indicate selection */
}

/* Adjust the styling for the image wrapper */
.nftImageWrapper {
  display: inline-block;
  /* Wrap the image */
  cursor: pointer;
  transition: transform 0.2s;
  /* Smooth transition for clicking effect */
  max-width: 100%;
  /* Ensure it doesn't overflow its container */
  border: 3px solid transparent;
  /* Transparent border to avoid shifting content on selection */
}

/* When an NFT is selected, indicate this visually */
.nftImageWrapper.selected {
  transform: scale(0.95);
  /* Slightly reduce size to indicate it's pressed or selected */
  box-shadow: 0 0 10px rgba(28, 0, 0, 0.5);
  /* Add shadow for depth */
  border-color: #830741;
  /* Green border to show selection */
}

.selected {
  border: 10px solid #032902;
  transform: scale(1.05);
  /* Slightly increase size */
  /* Example: green border for selected images */
}

/* RatingComponent.module.css or another relevant CSS module file */
.h3Clickable {
  cursor: pointer;
  transition: transform 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
}

.h3Clickable:hover {
  transform: scale(0.95);
  /* Shrink a bit */
  color: #0070f3;
  /* Change color; choose what fits your design */
  box-shadow: 10px 5px 5px rgba(233, 18, 18, 0.2);
  /* Add shadow */
}


.ratingAndCount {
  display: flex;
  justify-content: center;
  /* Centers the flex items on the line */
  gap: 8px;
  margin-bottom: 6px;
  /* Adjust as needed for space between rating and count */
}

.ratingValue {
  margin-right: 8px;
  /* Adjust the space between the rating number and stars as needed */
}

.countValue {
  margin-left: auto;
  /* Pushes the count to the far right; remove if count should be directly after rating */
}

.nftInfo {
  display: flex;
  flex-direction: column;
  /* This line is added */
  justify-content: center;
  align-items: center;
  width: 100%;
}


.nftName {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
  /* Reduced space between name and sendAmount */
}

.sendAmount {
  color: white;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  /* Centered text */
  margin-top: 4px;
  margin-bottom: 4px;
  /* Adjust as needed to control space between sendAmount and rating/count */
}

.nftName:hover {
  cursor: pointer;
  color: #007bff;
  /* Example clickable color */
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 2, 106, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.modalContent {
  background: rgb(4, 2, 101);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(136, 2, 2, 0.3);
  width: 80%;
  height: auto;
  min-width: 200px;
  /* Example minimum width */
  min-height: 100px;
  /* Example minimum height */
  max-height: 80vh;
  /* Example: Limit the height to 80% of the viewport height */
  overflow-y: auto;
  /* Allows scrolling within the modal content if needed */
  padding-bottom: 60px;
  /* Provide enough padding at the bottom for the close button */
  position: relative;
  overflow-y: auto;
}

.closeButton {
  /* Example styles, adjust as necessary */
  position: absolute;
  bottom: 15px;
  /* Ensure this value doesn't place the button outside of the modal */
  left: 50%;
  transform: translateX(-50%);
  padding: 8px 16px;
  cursor: pointer;
  background-color: #007bff;
  /* Example background color */
  color: white;
  /* Text color */
  border: none;
  border-radius: 4px;
}

/* Add this to your Home.module.css or wherever your modal styles are defined */
.modalTitle {
  color: white;
  /* Ensuring the title color matches the modal text color */
  text-align: center;
  /* Optional: Center-align the title */
  margin-bottom: 16px;
  /* Adds some space between the title and the content */
}

.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  border-radius: 5px;
  /* Adjust positioning as needed */
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  /* Additional styling */
  z-index: 1;
  /* Ensure it appears above other content */
}

.hoverMessage {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 8px;
  border-radius: 5px;
  text-align: center;
  display: none;
  white-space: nowrap;
  /* Initially hidden */
}

.nftImageWrapper:hover .hoverMessage {
  display: block;
  /* Show on hover */
}



.shareBlock {
  display: flex;
  justify-content: space-around;
  /* Distributes space evenly around items */
  align-items: center;
  margin: 10px 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.textarea {
  width: 100%;
  /* Full width of its container */
  height: 400px;
  /* Sufficient height */
  background-color: #fff;
  /* White background for contrast */
  color: #0a0a0a;
  /* Darker black color for text */
  border: 1px solid #ccc;
  /* Light grey border */
  padding: 10px;
  font-size: 18px;
  /* Larger font size */
  font-weight: bolder;
  /* Bolder font */
  line-height: 1.2;
  /* Adjust line height for better readability */
  /* Padding inside the textarea */
  box-sizing: border-box;
  /* Includes padding and border in the width and height */
  resize: vertical;
  /* Allow vertical resizing only */

}


.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  /* Make modal width 80% of the viewport width */
  max-width: 1000px;
  padding: 20px;
  background: rgb(29, 238, 238);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  /* Center buttons horizontally */
  align-items: center;
  /* Align buttons vertically */
  gap: 100px;
  /* Adjust the gap to a moderate value */
  margin-top: 20px;
}


.copyButton,
.closeButton1 {
  background-color: #2806e8;
  /* Blue background */
  color: white;
  /* White text */
  border: 2px;
  padding: 10px 30px;
  /* Sufficient padding around text */
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  /* Auto width based on content or minimum width */
  min-width: 40px;
  /* Ensure minimum visibility width */
}



.socialIcons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}

.iconx {
  color: #f4580a;
  /* Default icon color */
  transition: color 0.3s ease;
}

.iconx:hover {
  color: #c1f909;
  /* Color changes on hover */
}

.iconf {
  color: #1e0af3;
  /* Default icon color */
  transition: color 0.3s ease;
}

.iconf:hover {
  color: #f007e5;
  /* Color changes on hover */
}

.iconl {
  color: #edcc0f;
  /* Default icon color */
  transition: color 0.3s ease;
}

.iconl:hover {
  color: #f94b0c;
  /* Color changes on hover */
}

.iconr {
  color: #ed0fde;
  /* Default icon color */
  transition: color 0.3s ease;
}

.iconr:hover {
  color: #f96b0c;
  /* Color changes on hover */
}

.shareButton {
  margin-left: 10px;

  background-color: rgb(5, 22, 156);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  border: 2px;
  padding: 10px 30px;
  /* Sufficient padding around text */
  cursor: pointer;
  border-radius: 5px;
  width: auto;
  /* Auto width based on content or minimum width */
  min-width: 40px;
  /* Ensure minimum visibility width */
  box-shadow: 0px 4px 10px red;
}

.shareButton:hover {
  transform: scale(0.8);
  /* Shrinks the button to 80% of its size */
}

.hoverLogo {
  position: relative;
  display: inline-block;
  /* or block depending on your layout */
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.hoverLogo:hover {
  transform: scale(0.9);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.logoTooltip {
  visibility: visible;
  position: absolute;
  width: 220px;
  background-color: rgb(10, 167, 16);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  bottom: 50%;
  /* Adjust this as needed */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.hoverLogo:hover .logoTooltip {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modalTitle {
  text-align: center;
  font-weight: bold;
  color: rgb(8, 8, 238);
  margin-bottom: 20px;
  /* Adjust as needed */
}

.modalSubTitle {
  text-align: center;
  font-weight: bold;
  font-size: medium;
  color: rgb(8, 8, 238);
  margin-bottom: 20px;
  /* Adjust as needed */
}

/* styles/Home.module.css */
.modelItem {
  font-size: 15px;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease;
  /* Smooth transition for background color */
}

.modelItem:hover {
  background-color: #e40593;
  /* Change background color on hover */
}

.modelItem:last-child {
  border-bottom: none;
}

/* Container for the dropdown to ensure it is centered with space below */
.dropdownContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 40px;
  /* Adjusted bottom margin for spacing */
  width: 100%;
  min-Width: "250px";
  /* Full width to center dropdown */
}

.categoryLabel {
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  /* Ensure label is visible */
}

.dropdown {
  width: auto;
  /* Auto width based on content */
  padding: 8px 16px;
  background-color: blue;
  color: white;
  border: 1px solid #ccc;
  /* Subtle border */
  border-radius: 4px;
  /* Rounded corners for modern look */
  cursor: pointer;
  appearance: none;
  /* Removes default styling */
  outline: none;
  /* Removes focus outline */
}

.dropdown option {
  padding: 10px;
  /* Padding for better readability */
  background-color: rgb(33, 9, 251);
  /* Default background for options */
  color: rgb(246, 239, 239);
  /* Text color for readability */
}

.dropdown option:hover {
  background-color: red;
  /* Background for hover and focus on options */
  color: white;
}

.shrinking {
  transform: scale(0.7);
  transition: transform 0.3s ease;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  z-index: 1000;
  /* Make sure this is above all other content */
}

/* Styles.css (or wherever your CSS is defined) */
.optionHover:hover {
  background-color: red;
}

.centeredSendAmount {
  text-align: center;
  display: block;
  margin: auto;
  font-size: 16px;
  color: white;
}

.ratingAndAmount {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.ratingValue {
  margin-right: 5px;
  font-size: 14px;
  color: white;
}

.sendAmount {
  margin-left: 10px;
  font-size: 16px;
  color: white;
}

.navLink {
  margin-right: 1rem;
  color: blue;
  text-decoration: none;
}

.navLink:hover {
  color: white;
}

/* ---------------------------------------------------------*/

/* Adjust the styling for the image wrapper */
.nftImageWrapper {
  display: inline-block;
  position: relative;
  cursor: pointer;
  transition: transform 0.2s;
  max-width: 100%;
  border: 1px solid transparent;
}

/* Style the checkbox with 3D effect */
.selectCheckbox {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  z-index: 10;
  appearance: none;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 3px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2), 2px 0px 2px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s, box-shadow 0.2s;
}

.selectCheckbox:checked {
  background-color: #3a06f7;
  border-color: #032902;
  box-shadow: 0px 2px 2px rgba(246, 236, 236, 0.2), 2px 0px 2px rgba(0, 0, 0, 0.1);
}

.selectCheckbox:checked::after {
  content: '✓';
  display: block;
  color: white;
  font-size: 25px;
  text-align: center;
  line-height: 30px;
}

/* When an NFT is selected, indicate this visually */
.nftImageWrapper input[type="checkbox"]:checked+img {
  border-color: #fb1b0b;
}

.nftImageWrapper input[type="checkbox"]:checked+img {
  border: 5px solid rgb(252, 80, 6);
}

/* Keep hover effect even when selected */
.nftImageWrapper img {
  transition: transform 0.1s, box-shadow 0.1s;
}

.nftImageWrapper:hover img {
  transform: scale(0.9);
  box-shadow: 0 0 2px rgba(28, 0, 0, 0.5);
}

.hoverItem:hover {
  background-color: darkpink;
}

.stars {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.filledStar,
.emptyStar {
  font-size: 2rem;
  cursor: pointer;
}

.filledStar {
  color: gold;
}

.emptyStar {
  color: lightgray;
}

.submitButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 8px;
  margin: 0.5rem;
}

.submitButton:hover {
  background-color: darkblue;
}

/* addtional change */


.modalOverlay1 {
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  /* Changed from 0.5 to 0.8 for non-transparent */
  z-index: 2060;
}

.modalContent1 {
  background: hsl(202, 78%, 64%);
  /* Light blue background color */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(136, 2, 2, 0.3);
  width: 80%;
  height: auto;
  min-width: 200px;
  /* Example minimum width */
  min-height: 100px;
  /* Example minimum height */
  max-height: 80vh;
  /* Example: Limit the height to 80% of the viewport height */
  overflow-y: auto;
  /* Allows scrolling within the modal content if needed */
  padding-bottom: 60px;
  /* Provide enough padding at the bottom for the close button */
  position: relative;
  overflow-y: auto;
  z-index: 2060;
  /* Ensure this is higher than the modal background*/
}

.textarea1 {
  width: 100%;
  /* Full width of its container */
  height: 400px;
  /* Sufficient height */
  background-color: #fff;
  /* White background for contrast */
  color: #0a0a0a;
  /* Darker black color for text */
  border: 1px solid #ccc;
  /* Light grey border */
  padding: 10px;
  font-size: 18px;
  /* Larger font size */
  font-weight: bolder;
  /* Bolder font */
  line-height: 1.2;
  /* Adjust line height for better readability */
  /* Padding inside the textarea */
  box-sizing: border-box;
  /* Includes padding and border in the width and height */
  resize: vertical;
  /* Allow vertical resizing only */

}

/* styles/Home.module.css */

.nftName {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: font-size 0.3s ease;
  text-align: center;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.fontSmall {
  font-size: 18px;
}

.fontMedium {
  font-size: 20px;
}

.fontLarge {
  font-size: 22px;
}

/* New Font Size Classes 
.fontXSmall {
  font-size: 14px;
}

.fontSmall {
  font-size: 16px;
}

.fontMediumSmall {
  font-size: 18px;
}

.fontMedium {
  font-size: 20px;
}

.fontMediumLarge {
  font-size: 22px;
}

.fontLarge {
  font-size: 24px;
}

.fontXLarge {
  font-size: 26px;
}*/